<header>
    <nav>
        <ul>
            <li class="home"><a href="/">HOME</a></li>
            <li><a href="/">Lista de productos</a></li>
            <li><a href="/realTimeProducts">Productos en tiempo real</a></li>
            <li><a href="/chat">Chat</a></li>
        </ul>
    </nav>
</header>